body{
    font-family: "Inter", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----header-- part--start--*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    height: 92px;
    padding: 16px 120px 16px 120px;
    background-color: #FFFFFF;
}
.logo img{
    width: 139px;
    height: 60px;
}
.manu{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    line-height: 152px;
    text-align: left;

}
.manu a{
    text-decoration: none;
}
.btn{
    font-size: 16px;
   
    background-color: #30B868;
    color: white;
    gap: 10px;
    padding: 12px 16px 12px 16px;
    width: 164px;
    height: 44px;
    border-radius: 4px;
    border: none;
}
.btn:hover{
    background-color: rgb(241, 11, 191);
}
.banner{
    width: 1360px;
    height: 379px;
    margin: 0 auto;
    text-align: center;
    background-image: url(../image/hero-bg.png);
    background-size: cover;
    width: 100%;
    background-position: center;
    color: #001931;
    height: 100vh;
    
}

.banner-content h2{
    font-size: 72px;
    padding-top: 154px;
    list-style: 84px;
    font-style: bold;
    color: white;
    text-transform: capitalize;
 
}
.green{
    color: #30B868;
}
.banner-content p{
    font-size: 16px;
    padding-top: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
}


.btns{
    padding-top: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-green{
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    background: #469165;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
}
.btn-green:hover {
    background-color: rgb(24, 228, 24);
}
.btn-outline{
    background: transparent;
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 10px;
    gap: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
}
.btn-outline:hover {
    background-color:rgb(24, 228, 24) ;
}
/* ----header-- part--end--*/



/* --main-section--start--*/
.heading-section{

  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  
 

}
.heading-section h2{
    font-size: 48px;
    font-style: bold;
}
.heading-section p{
    padding-top: 16px;
    font-size: 16px;
    text-align: center;
}
.card-section{
    display: flex;
    padding-left: 120px;
    padding-right: 120px;
 
    gap: 24px;
    padding-top: 20px;
    justify-content: center;
    align-items: flex-start;
    padding-top: 44px;
    
}
.card{
    border: none;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}
.card img{
 background: rgba(249, 85, 85, 1);
 border-radius: 50%;
 padding: 10px;
}
.card h3{
    font-size: 24px;
    line-height: 29px;
    padding-top: 16px;
    text-transform: capitalize;
    text-align: center;
}
.card p{
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   padding-top: 16px;
}
/* --main-section--end--*/


/* --section--part--01--start*/

.section-container{
  width: 1600px;
  height: 840px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  padding: 120px;
}
.image-container{
    width: 600px;
    height: 600px;
    border-radius: 12px;
    
}


.text-container{
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    text-align: left;
}
.span{
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
    color: #469165;
    font-style: medium;
}
.text-container h2{
    font-size: 48px;
    line-height: 58px;
    text-transform: capitalize;
    font-style: bold;
    padding-top: 16px;
    text-align: left;
    padding-bottom: 16px;
}
.text-container p{
    
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    
}
.main-list{
   padding-top: 16px;
    
}
.list-items{
    padding-top: 16px;
    text-align:left;
}

/* --section--part--01--end*/



/* --section--part--02--start*/

.last-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(237, 228, 220, 0.324);
    padding-right: 120px;
    width: 85%;
    max-width: 1550px;
    margin: 0 auto;
    border-radius: 12px;
   
}
.last-section h2{
    padding-top: 82px;
    font-size: 40px;
    font-style: bold;
    line-height: 48px;


}
.last-section p{
    font-size: 16px;
    line-height: 24px;
    padding-top: 16px;
    text-align: center;
    padding-bottom: 24px;
}
.paragraph{
    font-size: 16px;
    line-height: 14px;
    padding-bottom: 60px;
    padding-top: 5px;
}

/* --section--part--02--end*/



/* ----footer--part--start--*/


.footer-container{
    background-color:rgba(0, 25, 49, 1);
  
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-left: 120px;
    padding-right: 120px;
}
.social{
    text-align: right;
  
}
.social p{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: white;
}
.footer-icon{
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    padding-top: 16px;
}
.copy{
    text-align: center;
    padding-top: 80px;
}
.copy hr{
    width: 85%;
    margin: 0 auto;
    border: 0.5px solid rgb(37, 28, 65);
}
.copy p{
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
    font-size: 16px;
    line-height: 24px;
}
.footer-logo{
    width: 139px;
    height: 60px;
}


/* ----footer--part--end--*/